@model ForgetPasswordViewModel 
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout1.cshtml";
}

<form asp-action="SendEmail">

    <input class="text" asp-for="Email" placeholder="Enter your Email " required="">
    <span asp-validation-for="Email" class=" alert-danger"></span>
    <br />

    <input type="submit" value="Reset Password">
</form>

@section ValidationSection {

    <partial name="_ValidationScriptsPartial" />

	}