@model ResetPasswordViewModel 
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout1.cshtml";
}


<div class="main-agileinfo"

	<div class="agileits-top">

		<form asp-action="ResetPassword" >

			

			<input class="text" asp-for="NewPassword" placeholder="Enter your New Password " required="">
			<span asp-validation-for="NewPassword" class="alert-danger"></span>

			<br />

			<input class="text" asp-for="ConfirmNewPassword" placeholder="Enter Confirm Password " required="">
			<span asp-validation-for="ConfirmNewPassword" class=" alert-danger"></span>



			<input type="submit" value="Reset Password">
		</form>

		<p>Don`t you have an Account? <a asp-action="Register"> SIGN UP!</a></p>

		<p>  <a asp-action="ForgetPassword"> Forget Password</a></p>

	</div>

	</div>

